# Unity Folders
# https://git-scm.com/docs/gitignore
# A leading slash matches the beginning of the pathname.

# Would like to keep /Logs/ untracked to remove, but since 2020 Unity will keep /Logs/ contents opened and unable to remove
/Logs/
/Temp/
/Library/
# Added in Unity 2020, shall be ignored according to Aras
# https://forum.unity.com/threads/whats-the-usersettings-directory.754436/#post-5029937
/UserSettings/

# Unity Generated Solution files
/*.sln
/*.csproj

# Unity Generated For Building APK
/.utmp/

# Visual Studio DB
/.vs/

# ReSharper Personal Config
/*.DotSettings.user

# Visual Studio Code
/.vscode/
/obj/

# Rider
/.idea/
/Assets/Plugins/Editor/JetBrains/
/Assets/Plugins/Editor/JetBrains.meta

# MonoDevelop
/*.userprefs

# Windows File Explorer Thumbnail Cache
Thumbs.db
# Mac Finder Cache
.DS_Store
# These should be ignored by default global gitignore, but from time to time we got these from packages or other sources



# ----- Project LS ------

# QHierarchy
# Everyone can has their own setting
/Assets/QHierarchy/Editor/Scripts/pdata/QSettingsObjectAsset.asset
/Assets/QHierarchy/Editor/Scripts/pdata/QSettingsObjectAsset.asset.meta

# Odin files
# Ignore all unpacked demos.
/Assets/Plugins/Sirenix/Demos/*
# But keep the demo packages themselves.
!/Assets/Plugins/Sirenix/Demos/*.unitypackage

# FMOD
# Never ignore DLLs in the FMOD subfolder.
!/Assets/Plugins/FMOD/**/lib/*
# Ignore the Cache folder since it is updated locally.
/Assets/Plugins/FMOD/Cache/*
# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log
Assets/AddressableAssetsData/link.xml*
